html {
    font-size: 62.5%;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  p {
    font-size: 1.6rem;
  }
  span {
    font-weight: 800;
    font-size: 1.6rem;
  }
  h2 {
    font-size: 2rem;
    color: #ff6f61;
    font-weight: 800;
  }
  h3 {
    color: #ff6f61;
    font-size: 1.8rem;
    font-weight: 800;
  }
  h4 {
    font-size: 1.6rem;
    font-weight: 800;
  }
  a {
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }
  img {
    max-width: 250px;
    border-radius: 42px;
  }


  /* Debut Team Positionnement */
  .Rltv{
      position: relative;
  }
  .AbsltZindex1{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
  }
  .Fxd{
    position: fixed;
  }
  .Flex {
      display: flex;
  }
  .SpcBtwn{
      justify-content: space-between;
  }
  .SpcArnd{
      justify-content: space-around;
  }
  .AlgnItmCntr{
      align-items: center;
  }
  /* Fin Team positionnement */

/* Classes fonctionnelles de style */
.BoxShdw {
  box-shadow: 0px 0px 6px black;
}